$bg_default_color : #131b29;
$header_color: #8698aa;
$row_hover_color: #1e3059;
$text_gain__color: #00b15d;
$bg_gain__color: rgba(16, 186, 104, 0.12);
$text_even__color: #f0f4f8;
$bg_even__color: rgba(134, 152, 170, 0.12);
$text_lose__color: #ff5b5a;
$bg_lose__color: rgba(255, 90, 90, 0.12);
$flash_lose_color: rgba(255, 91, 90, 0.5);
$flash_buy_color: rgba(0, 177, 93, 0.5);
$line_buy_color: rgba(16, 186, 104, 0.12);
$line_lose_color: rgba(255, 90, 90, 0.12);